body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
}

#header-container {
    border-bottom: 2px solid; border-bottom-color: #ccc;
}

#header-row {
    background-color: white;
}
