body {
    background-image: url('../images/background.png');
    background-repeat: repeat;
    margin-bottom: 200px;
    min-height: 100%;
}

.image-container {}

.card-container {

}

.card {
    border-radius: 0rem;
    border-right-color: #ddd;
    border-left-color: #ddd;
    border-top-color: #ddd;
    border-bottom-color: #ddd;
}
#copyright-text {
    font-size: 12px;
}

#about-me-card {
    padding: 30px;
}

#z-border-box-992,
#z-border-box-768,
#z-border-box-576 {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 576px;
    border-right: 1px solid black;
    height: 1600px;
}

#z-border-box-768 {
    width: 768px;
    border-right: 1px solid gray;
}

#z-border-box-992 {
    width: 992px;
    border-right: 1px solid purple;
}

.z-col {
    background-color: teal;
    width: 250px;
    min-height: 100px;
    border: 1px solid black;
}

.z-col2 {
    background-color: purple;
    min-width: 350px;
    min-height: 100px;
    border: 1px solid black;
}

#header-container {
    border-bottom: 2px solid;
    border-bottom-color: #ccc;
    padding-left: 0px;
    padding-right: 0px;
}

#header-row {
    background-color: white;
    margin-right: 0px;
}

#header-name {
    min-height: 90px;
    color: white;
    text-align: center;
    line-height: 90px;
    /* margin-left */
}

#header-nav-col {
    min-height: 64px;
    background-color: white;
    min-width: 256px;
}

#header-row {
    background-color: white;
}

h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    /* line-height: 90px; */
    margin: 0 0 0 0;
    font-size: 30px;
}

hr {
    border-top: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.btn-primary {
    color: white;
    background-color: hsl(176, 32%, 51%);
    border-bottom-color: #59aaa5;
    border-radius: 0%;
    border-left-color: #59aaa5;
    border-right-color: #59aaa5;
    border-bottom-color: #59aaa5;
    border-top-color: #59aaa5;
    height: 40px;
    width: 115px
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: hsl(176, 32%, 41%);
    border-color: hsl(176, 32%, 41%);
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem hsla(176, 32%, 51%, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem hsla(176, 32%, 51%, 0.5);
}

/* .btn-primary {
    color: #fff;
    background-color: hsl(211, 100%, 50%);
    border-color: hsl(211, 100%, 50%);
} */

.btn-primary:hover {
    color: #fff;
    background-color: hsl(176, 32%, 44%);
    border-color: hsl(176, 32%, 44%);
}

h2 {
    font-size: 25px;
}

p {
    color: #777;
    line-height: 33px;
    font-size: 18px;

}

a {
    color: #999;
    font-size: 19px;
}

label {
    color: #777;
    font-size: 19px;
}

input::placeholder {
    color: #ccc !important;
}
input::-webkit-input-placeholder {
    color: #ccc !important;
}

input::-moz-placeholder {
    color: #ccc !important;
}

input:-ms-input-placeholder {
    color: #ccc !important;
}

input:-moz-placeholder {
    color: #ccc !important;
}

#about-me-image {
    float: left;
    width: 40%;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 9px;
}

h1#your-name {
    line-height: 90px;
    width: 250px;
    background-color: #59aaa5;
}

h1.card-title {
    color: #59aaa5;
}

.footer {
    /* box-sizing: border-box; */
    border-top: 6px solid #59aaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    line-height: 94px;
    /* Vertically center the text there */
    background-color: #666;
    color: #ddd;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    /* color: #454545; */
    background-color: #fff;
    border-color: #ccc;
    outline: 0;
    box-shadow: 0 0 0 0.2rem hsla(176, 32%, 30%, 0.20);
}

.footer-container {

}

/* Medium to small transition */
@media screen and (max-width: 767px) {
    #header-name {
        background-color: #59aaa5;
    }

    #about-me-image {
        float: none;
        width: 100%;
        height: auto;
        padding-right: 0px;
        padding-bottom: 20px;
        padding-top: 13px;
    }

    .footer {
        height: 50px;
        border-top: 3px solid hsl(176, 32%, 51%);
        line-height: 47px;
    }
}